:root {
    --background: #253035;

    --foreground: #2d3a3f;

    --outline: #000;
    --outline-size: 3px;

    --titlebar: #1d272b;
    --titlebar-size: 32px;

    --text-normal: #647b85;
    --font-size-reg: 12px;
    --font-size-large: 36px;
    --font-size-small: 8px;
}

svg {
    fill: var(--text-normal);
}

body {
    background-color: var(--foreground);
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 275px;
    min-width: 300px;
    overflow: hidden;
    transition: background 200ms;
}

@font-face {
    font-family: 'jetbrains';
    src: url('./fonts/JetBrainsMono[wght].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'jetbrains', sans-serif;
    color: var(--text-normal);
    -webkit-tap-highlight-color: transparent;
}

#titleBar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 3px;
    height: var(--titlebar-size);
    background: var(--titlebar);
    font-weight: bolder;
    box-sizing: border-box;
    padding: 6px;
}

.contentBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: calc(45% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;
    z-index: 15;
}

.optionsTop {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.sliders {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-content: center;
    z-index: 1;
}

.sliderContainer {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
    box-sizing: border-box;
}

input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;


    font-size: var(--font-size-reg);
    box-sizing: border-box;
    width: fit-content;
    max-width: 360px;
    border: #232A30 solid 2px;
    background: #232A30;
    outline: #232A30 solid 0px;
    border-radius: 2px 0 0 2px;
    padding: 2px;
    z-index: 2;
    transition: outline 50ms, border 100ms;
}


input[type="number"]:focus {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;

    outline: #2C9CEF solid 2px;
    border: #91919150 solid 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #2C343B;
    opacity: 1;
    margin: 0;
}

@-moz-document url-prefix() {
    input[type="number"] {
        appearance: none;
        -moz-appearance: textfield;
    }

    input[type=number]::-moz-outer-spin-button,
    input[type=number]::-moz-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
        background: #2C343B;
        opacity: 1;
        margin: 0;
    }
}

.numberInputUnit {
    display: flex;
    flex-direction: row;
}

.valueControlUnit {
    display: flex;
    flex-direction: column;
}

.valueControl {
    -webkit-appearance: none;
    appearance: none;
    height: calc(50%);
    width: calc(var(--font-size-reg) * 1.5);
    border: none;
    background: #3F4A53;
    border-left: #232A30 solid 1px;
    font-size: 50%;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    margin: 0;

    text-overflow: clip;
}

.valueControlUp {
    border-bottom: #232A30 solid 1px;
    border-radius: 0 3px 0 0;
}

.valueControl:hover {
    background: #5D6B78;
    transition: 15ms;
}

.valueControl:active {
    background: #323b43;
}

.valueControlDown {
    border-radius: 0 0 3px 0;
    border-top: #232A30 solid 1px;
}

.optionsBox {
    flex-direction: row;
    display: flex;
    gap: 1px;
    margin: 16px;
    padding: 0px;
}

.option {
    min-width: 60px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #3F4A53;
    outline: #232A30 solid 1px;
    border-radius: 0px;
    cursor: pointer;
    color: #90A6BA;
    transition: background-color 100ms, color 50ms, border 200ms;
    padding: 3px;
    border: 1px solid #ffffff20;
}

.option:last-of-type {
    border-radius: 0px 3px 3px 0px;
}

.option:first-of-type {
    border-radius: 3px 0px 0px 3px;
}

.option:hover {
    background: #5D6B78;
}

.option:active {
    background-color: #161B1F;
    outline: #0E1115 solid 1px;
}

.option input {
    display: none;
}

.option:has(input:checked) {
    background-color: #232A30;
    outline: #00000020 solid 1px;
    color: #C7E4FF;
    border: 1px solid #00000020;
}

.colorButton {
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: #3F4A53;
    outline: #232A30 solid 1px;
    border-radius: 16px;
    cursor: pointer;
    height: calc(100% - 9px);
    width: calc(var(--font-size-reg) * 2.25);
    color: #90A6BA;
    transition: background-color 50ms, color 25ms, border 100ms;
    padding: 3px;
}

.colorButton:hover {
    background: #5D6B78;
}

.colorButton:active {
    background-color: #161B1F;
    outline: #0E1115 solid 1px;
}


.colorButton svg {
    height: 100%;
    transition: margin 100ms;
}

.colorButton .locked {
    display: none;
}

.colorButton:has(input:checked) {
    background-color: #232A30;
    outline: #3F4A53 solid 1px;
    color: #C7E4FF;
}

.colorButton:has(input:checked) .unlocked {
    display: none;
}

.colorButton:has(input:checked) .locked {
    display: inline;
}


.colorButton:has(input:checked):hover {
    background-color: #161B1F;
    outline: #0E1115 solid 1px;
}


.colorButton:has(input:checked):active {
    background: #5D6B78;
}

.colorButton input[type=checkbox] {
    display: none;
}

.colorButton input[type=button] {
    display: none;
}

.colorBox {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 2px;
}

.hexInput {
    align-self: flex-end;
    text-align: end;
    background: #00000060;
    font-size: var(--font-size-large);
    width: 4.15em;
    height: var(--font-size-large);
    color: #fff;
    transition: background-color 25ms, color 15ms, border 50ms, border-radius 50ms;
    border: none;
    padding: none;
    border-left: 3px solid #2C9CEF00;
    border-top: 3px solid #2C9CEF00;
}

.hexInput:focus {
    -webkit-appearance: none;
    appearance: none;
    border-top: 3px solid #2C9CEF;
    transition: background-color 25ms, color 15ms, border 50ms, border-radius 50ms;
    border-left: 3px solid #2C9CEF;
    outline: none;
}

.copyButton {
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    height: calc(var(--font-size-reg) * 2);
    width: calc(var(--font-size-reg) * 2);

    background: #00000060;
    outline: none;
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 3;
    cursor: pointer;

    transition: background-color 50ms, color 25ms, outline 100ms;

    margin-right: 8px;
    outline: #2C9CEF solid 0px;
}

.copyButton:hover {
    background: #00000050;
    transition: background-color 50ms, color 25ms, outline 50ms;
    outline: #2C9CEF solid 3px;
}

.copyButton svg {
    height: 100%;
}

.copyButton:active {
    transition: background-color 50ms, color 25ms, outline 50ms;
    background: #000000a0;
}

.copyButton input[type=button] {
    display: none;
}

.sliderBox {
    border: 1px solid #ffffff20;
    outline: none;
    max-height: 600px;
    max-width: 1000px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
    margin: auto;
    background-color: var(--foreground);
}

@media (min-width: calc(600px + 80px)) and (min-height: calc(45vh + 250px + 80px)) {
    body {
        background-color: var(--background);
    }

    .sliderBox {
        outline: #232A30 solid 1px;
    }
}

@media (hover: none) {
    * {
        pointer-events: auto;
    }
}

.hexEntryCSS {
    height: 1.25rem;
    width: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexHoverEffect {
    transition: 50ms;
    margin: auto;
}

.hexEntryCSS:hover>.hexHoverEffect {
    margin: auto;
    font-size: 0.85rem;
}

.hexHoverEffect::before {
    content: "copied";
    opacity: 0;
    position: absolute;
}

.hexEntryCSS:active>.hexHoverEffect {
    font-size: 0.95rem;
    opacity: 0;
}


.hexEntryCSS:active>.hexHoverEffect::before {
    opacity: 1 !important;
}
