:root {
    /* Colors */
    --Normal-Text: #8da0ac;
    --Dark-Text: #5c6d78;

    --Normal-Background: #21282d;
    --Light-Background: #354047;
    --Dark-Background: #11171a;

    --Normal-Foreground: #2e3e48;
    --Light-Foreground: #506a79;
    --Dark-Foreground: #1c272e;

    --Normal-Accent: #3c637a;
    --Light-Accent: #85d2ff;
    --Dark-Accent: #213b49;

    --Normal-Secondary: #4a2724;
    --Light-Secondary: #ff938b;
    --Dark-Secondary: #301715;

    --Normal-Yellow: #aaac3e;
    --Dark-Yellow: #767728;
    --Light-Yellow: #fdff60;
}
