:root {
    /* Colors */
    --Normal-Text: #a5cbe3;
    --Dark-Text: #6a7792;

    --Normal-Background: #212630;
    --Light-Background: #333a48;
    --Dark-Background: #181c24;

    --Normal-Foreground: #586679;
    --Light-Foreground: #6b7c92;
    --Dark-Foreground: #455160;

    --Normal-Accent: #4a7893;
    --Light-Accent: #66a4c8;
    --Dark-Accent: #3c637a;

    --Normal-Secondary: #b03031;
    --Light-Secondary: #e44142;
    --Dark-Secondary: #962828;

    --Normal-Yellow: #e3c271;
    --Dark-Yellow: #c7aa63;
    --Light-Yellow: #ffe9b6;
}
